.Person {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  font-size: 25px;
}

.HerdList {
  border-style: none;
}

.Profile-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
